<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.island.monster.mapper.IslandPoemMapper">
    <resultMap id="BaseResultMap" type="com.island.monster.bean.IslandPoem">
        <id column="pk_id" property="id" jdbcType="INTEGER"/>
        <result column="poem_title" property="poemTitle" jdbcType="VARCHAR"/>
        <result column="poem_author" property="poemAuthor" jdbcType="VARCHAR"/>
        <result column="poem_type" property="poemType" jdbcType="VARCHAR"/>
        <result column="showing_date" property="showingDate" jdbcType="TIMESTAMP"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR"/>
        <result column="poem_content" property="poemContent" jdbcType="VARCHAR"/>
        <result column="poem_note" property="poemNote" jdbcType="VARCHAR"/>
        <result column="poem_explanation" property="poemExplanation" jdbcType="VARCHAR"/>
        <result column="poem_appreciation" property="poemAppreciation" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumnList">
        pk_id,poem_title,poem_author,poem_type,showing_date,
        created_time,created_by,is_deleted,poem_content,poem_appreciation,
        poem_explanation,poem_note
    </sql>

    <select id="getMaxId" resultType="java.lang.Integer">
        select max(pk_id) from t_island_poem
    </select>

    <select id="getMinId" resultType="java.lang.Integer">
        select min(pk_id) from t_island_poem
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="BaseColumnList"/>
        from t_island_poem
        where pk_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="onesFavorite" resultMap="BaseResultMap">
        select
        p.*
        from t_island_poem p
        left join
        t_visitor_storehouse s
        on p.pk_id = s.work_id
        and s.work_type = 'POEM'
        <where>
            s.union_id = #{unionId,jdbcType=VARCHAR}
            <if test="storedCancel != null">
                and s.stored_cancel = #{storedCancel,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="nextPoem" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="BaseColumnList"/>
        from t_island_poem
        where pk_id &gt; #{currentId,jdbcType=INTEGER} and is_deleted = '0'
        order by pk_id asc
        limit 1
    </select>

    <select id="previousPoem" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="BaseColumnList"/>
        from t_island_poem
        where pk_id &lt; #{currentId,jdbcType=INTEGER} and is_deleted = '0'
        order by pk_id desc
        limit 1
    </select>

    <select id="getByConditions" parameterType="com.island.monster.bean.IslandPoem" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from t_island_poem
        <where>
            <if test="poemTitle != null">and
                poem_title = #{poemTitle,jdbcType=VARCHAR}
            </if>
            <if test="poemAuthor != null">and
                poem_author = #{poemAuthor,jdbcType=VARCHAR}
            </if>
            <if test="poemType != null">and
                poem_type = #{poemType,jdbcType=VARCHAR}
            </if>
            <if test="showingDate != null">and
                showing_date = #{showingDate,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null">and
                created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="createdBy != null">and
                created_by = #{createdBy,jdbcType=VARCHAR}
            </if>
            <if test="isDeleted != null">and
                is_deleted = #{isDeleted,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.island.monster.bean.IslandPoem">
        insert into
        t_island_poem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                pk_id,
            </if>
            <if test="poemTitle != null">
                poem_title,
            </if>
            <if test="poemAuthor != null">
                poem_author,
            </if>
            <if test="poemType != null">
                poem_type,
            </if>
            <if test="showingDate != null">
                showing_date,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="poemContent != null">
                poem_content,
            </if>
            <if test="poemNote != null">
                poem_note,
            </if>
            <if test="poemExplanation != null">
                poem_explanation,
            </if>
            <if test="poemAppreciation != null">
                poem_appreciation,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="poemTitle != null">
                #{poemTitle,jdbcType=VARCHAR},
            </if>
            <if test="poemAuthor != null">
                #{poemAuthor,jdbcType=VARCHAR},
            </if>
            <if test="poemType != null">
                #{poemType,jdbcType=VARCHAR},
            </if>
            <if test="showingDate != null">
                #{showingDate,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="poemContent != null">
                #{poemContent,jdbcType=VARCHAR},
            </if>
            <if test="poemNote != null">
                #{poemNote,jdbcType=VARCHAR},
            </if>
            <if test="poemExplanation != null">
                #{poemExplanation,jdbcType=VARCHAR},
            </if>
            <if test="poemAppreciation != null">
                #{poemAppreciation,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="updateByPrimaryKeySelective" parameterType="com.island.monster.bean.IslandPoem">
        update t_island_poem
        <set>
            <if test="poemTitle != null">
                poem_title = #{poemTitle,jdbcType=VARCHAR},
            </if>
            <if test="poemAuthor != null">
                poem_author = #{poemAuthor,jdbcType=VARCHAR},
            </if>
            <if test="poemType != null">
                poem_type = #{poemType,jdbcType=VARCHAR},
            </if>
            <if test="showingDate != null">
                showing_date = #{showingDate,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=VARCHAR},
            </if>
            <if test="poemNote != null">
                poem_note = #{poemNote,jdbcType=VARCHAR},
            </if>
            <if test="poemExplanation != null">
                poem_explanation =  #{poemExplanation,jdbcType=VARCHAR},
            </if>
            <if test="poemAppreciation != null">
                poem_appreciation = #{poemAppreciation,jdbcType=VARCHAR},
            </if>
        </set>
        where pk_id = #{id,jdbcType=INTEGER}
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_island_poem
        where pk_id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="setDel" parameterType="java.lang.Integer">
        update t_island_poem
        set is_deleted = '1'
        where pk_id = #{id,jdbcType=INTEGER}
    </update>

</mapper>